<!DOCTYPE html>
<html>
<head>
    <script src="https://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <!--<script src="/css/js/jquery-3.4.1.js"></script>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-dark table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">项目编号</th>
        <th scope="col">图片预览</th>
        <th scope="col">项目名称</th>
        <th scope="col">项目日期</th>
        <th scope="col">项目操作</th>
    </tr>
    </thead>

    <tbody id="tid">

    </tbody>

</table>

<div align="center">
<button id="addproj" class="btn btn-lg btn-primary" type="button">新建项目</button><br>
</div>

<script>
    $('#addproj').click(function () {
        location.href = "/creatproject"
    })


    var getProjectContent = function () {
        $.ajax({
            type: "post",
            url: "/showProject",
            datatype: JSON,

            success: function (list) {
                $.each(list,function (i,item) {

                    $('#tid').append("<tr>" +
                        "<th scope=\"row\">" + item.id + "</th>" +
                        "<td>" + "<img src=" + item.projimg + " height=50 width=50/>" + "</td>" +
                        "<td>" + item.projname + "</td>" +
                        "<td>" + item.projdate + "</td>" +
                        "<td>"+ "<button type='button' class='btn btn-light update'>修改</button>\n" +
                                /*"<button type='button' class='btn btn-light upload'>上传</button>\n" +*/
                                "<button  type='button' class='btn btn-light delete'>删除</button>" +
                        "</td>" +
                        "</tr>")


                    /*// 给上传按钮添加事件
                    $('.upload').click(function () {
                        var id = $(this).parent().prev().prev().prev().text();
                        console.log(id);
                        var url = "/img"+"?id="+id
                        console.log(url);
                        window.location.href = url;
                    })*/

                    // 给修改按钮添加事件
                    $('.update').click(function () {
                        var id = $(this).parent().prev().prev().prev().prev().text();
                        console.log(id);
                        var url = "/updateproject"+"?id="+id
                        console.log(url);
                        window.location.href = url;
                    })

                    // 给删除按钮添加点击事件
                    $('.delete').click(function () {
                        // 获取删除的id
                        console.log($(this).parent().prev().prev().prev().prev().text());
                        // 发送http请求
                        $.ajax({
                            type: "post",
                            url: "/deleteProject",
                            data: {id:$(this).parent().prev().prev().prev().text()},
                            datatype: JSON,
                            success:function (response) {
                                console.log(response);
                                if (response == true){
                                    alert("删除成功!");
                                    location.href = "/success";
                                } else {
                                    alert("删除失败!");
                                }
                            }
                      })
                    });
                })
            }
        })
    }


    $(function () {
        // page init
        getProjectContent();
    });


</script>
</body>
</html>